body {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: grey;
}

#title {
  font-size: 1.5rem;
}

.header-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#survey-img {
  width: 70%;
  heigth: 180px;
  border-radius: 5%;
  margin: 2.6rem auto 2.6rem 50px;
}


#main {
  width: 90%;
  margin: 3.5rem auto 0 auto;
  box-shadow: 20px -10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
}



form {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}

#headers {
  margin: 2.6rem auto 2.6rem 50px;
}

#title {
  font-size: 6rem;
  color: white;
}

#description {
  font-size: 3.7rem;
  color: white;
}

label {
  display: flex;
  align-items: center;
  font-size: 1.50rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 1.3rem;
  line-height: inherit;
}

p {
  font-size: 1.50rem;
}

button {
  border: none;
}

/*form*/
.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.textfield-form {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textfield-form:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: gray;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}